In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

import datetime as dt

In [4]:
rates = pd.DataFrame(np.random.normal(size=(255,1)))
dates = pd.date_range(pd.datetime.today().date(), periods=255)

In [33]:
rates.name = 'rates'
rates.columns = ['rates']
rates.index = dates

In [31]:
rates.head(10)

               rates
2016-12-12 -1.720127
2016-12-13 -0.056409
2016-12-14 -0.171732
2016-12-15  0.809919
2016-12-16 -0.080239
2016-12-17  0.225685
2016-12-18 -0.717258
2016-12-19 -0.805439
2016-12-20  0.118406
2016-12-21  0.126768